.equation-container {
    width: 235px;
    border: 1px solid #DFDFDF;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: flex-start;
}

.heading {
    color: #A5A5A5;
    font-size: 16px;
    font-weight: 600;
    margin: 8px;
}

.equation-container p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
}

.equation-input {
    width: 93%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    font-size: 14px;
}

.equation-container button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    color: #D3D3D3;
    background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    cursor: not-allowed;
    text-align: start;
}

.equation-container div span {
    font-size: 14px;
    color: #333333;
}


/* Calculator.css */
.equations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.calculator-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.calculator-container div {
    margin-bottom: 20px;
}

.calculator-container input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.calculator-container p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

.calculator-container .final-output {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.chevron-img {
    position: relative;
    top: -25px;
    left: 209px;
}

.error {
    border-color: red;
}